@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

.zona-dropdown-container {
  display: flex;
  align-items: center;
  background-color: #666A8F;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 10px;
  position: relative;
}

.zona-label {
  font-size: 1.4rem;
  margin-right: 10px;
  white-space: nowrap;
  font-family: 'InterBold';
}

.zona-selected {
  background-color: #A0A5CF;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  flex: 1;
}

.dropdown-arrow {
  margin-left: 10px;
  font-size: 0.8rem;
}

.zona-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: #A0A5CF;
  border-radius: 12px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.zona-option {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.9rem;
  font-family: 'Inter';
}

.zona-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .zona-dropdown-container {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .zona-label {
    margin-bottom: 6px;
  }
  
  .zona-selected {
    width: 100%;
  }
}